

@media screen and (max-width : 1640px) {
.title h2{font-size: 2rem;}
.title h2 span{font-size: 1.3rem; width:110px; }
.titName{}
.view_content{font-size: 1.7rem;}
}

@media screen and (max-width : 1540px) {

.cont01{width: 100%;}
.cont2{width: 85%;}
}


/* 아이패드 1024 사이즈 */
@media screen and (max-width : 1024px){
/* 헤더메뉴 */
.header{height: 100px;}

.h_top_nav{width: 8%; margin-top: 15px; }
.h_top_menu li{display: none;}
.h_top_menu li:last-child{display: block;}
.menu_bar i{font-size: 3rem;}
.head_top {border-bottom: none}

.head_inner02{height: 85%; margin-top: -68px; transition: all 0.1s;}
.h_down_nav{display: none;}

.logo_txt{width: 50%;}

.logo a img {display: none;}

/* 배경 */
.sun{}
@keyframes sun_move {
    0%{top: 350px;}
    50%{top: 450px;}
    100%{top: 350px;}
}
.hill{top: 56%;}
.mole01{top: 42%;}

/* 예약창 */
.reservation{width: 100%; transition: all 0.2s; top: 80%;}
.reserve_list{width: 70%;   margin-top: 0px; margin-left: 30px; height: auto; padding: 0 0;}
.reserve_list li{height: 220px; }
.reserve_list .slick-slide{margin-right: 20px;}
.reserve_list li > div {width: 130px;  border-radius: 22px;  }

.title{ margin-left: -3%;}

/* 예약창 슬릭 */
.reserve_list .slick-slide{ width: 220px; margin: 0 18px; }
.reserve_list .slick-arrow.slick-prev{ left: -12%;  background: url(../img/button.png) no-repeat right ; }
.reserve_list .slick-arrow.slick-next{ right: -6%; background: url(../img/button.png) no-repeat ;}

/* 활동사진 영역 */
.section01{margin-top: 0px; padding-top: 160px; }
.cont01{height: auto; flex-wrap: wrap;}
.cont01 > div{margin: 0 auto 40px; width: 90%;}
.cont01:first-child::after{content: none;}
.cont_tit{width: 90%; margin: 0 auto;}
/* 활동사진 슬라이드 */
.P_img{width: 90%; margin: 40px auto 0;}
.P_img_list li{height: 380px;}
.num_box{margin-top: 40px;}
.P_img_list .slick-arrow{bottom: -62px;}

/* 관람안내 영역 */
.museum_date img{width: 65%; margin: 40px auto; border: 1px solid red; }
.museum_date ul li{margin: 0 0 20px 17%; border: 1px solid red; width: 70%; font-size: 1.9vw;}


/* .cont2영역 알립니다/이달의전시/오늘의교육 */
.N_box01 img{display: none;}
.notice02 > img{display: none;}
.N_box3 > img{display: none;}

.cont2{width: 95%; flex-wrap: wrap; height: auto; padding: 40px 0; margin: 20px auto 0;}
.cont2 > div{font-size: 1.8rem;}
.notice_tit span{font-size: 2.4rem;}

.cont2 .notice01{width: 100%; height: 320px; overflow: scroll; margin-bottom: 40px;}
.cont2 .notice02{width: 48%;height: 540px;}
.cont2 .notice03{width: 48%;height: 540px;}
.N_boxTxt li{margin-bottom: 50px; font-size: 1.6rem;}

/* 이달의전시 */
.num_box02{margin-top: 32px; font-size: 1.6rem;}
.N_box2_txt p{font-size: 1.6rem;}
/* 슬릭버튼 */
.N_box2_list .slick-arrow{bottom: -130px;}

/* 오늘의교육 */
.N_box3_list li .N_box3_txt span{font-size: 1.4rem;}
.num_box03{margin-top: 195px; font-size: 1.6rem;}
/* 슬릭버튼 */
.N_box3_list .slick-arrow{bottom: -215px;}


/* 지도영역 */
.map{display: none;}
.container01{border: 1px solid orange; padding: 80px 0; height: auto;}

.map2{border: 1px solid red; height: 650px;}






}/* --------- 아이패드 End */





@media screen and (max-width : 430px){}
