@charset 'utf-8';
@font-face {
    font-family: 'TTHakgyoansimUndongjangL';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimUndongjangL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;}
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: inherit; display: block;}
ul,li{list-style: none;}
html,body{height: 100%;}
html{font-size: 10px;}
body{font-family: 'TTHakgyoansimUndongjangL'; color: #333;}
.flex_b{display: flex; justify-content: space-between;}
.flex_a{display: flex; justify-content: space-around;}
.flex_c{display: flex; justify-content: center;}

:root{
    --orange : #f79d00;  --blue : #0072ff;
    --main01 : #e6f3fe;  --pink : #ff5363;
    --yellow : #ffd02c;  --brown : #d7c072;
}



.Reserve{max-width: 1400px; width: 80%; height: 250px; position: absolute; top: 10%; left: 15%;}
.btn{border: 1px solid black; width: 200px; height: 250px;}
.btn li{border: 1px solid blue; height: 125px; text-align: center; line-height: 125px; font-size: 1.8rem; position: relative;}
.btn li:first-child{}
.btn li:first-child > div{z-index: 100;}
.btn li:last-child{}
.btn li:last-child > div{top: -125px; color: #0072ff;}

.btn .reserve_box{width: 1200px; height: 250px;border: 1px solid red; position: absolute; top: -1px; left: 198px; display: flex;}
.btn .reserve_box .title{width: 20%; border: 1px solid orange;}

.sub{width: 70%; height: 100%; border: 1px solid orange; margin-left: 5%; display: flex; }
.sub li{width: 200px; height: 200px;}

/* 슬릭 */
.sub .slick-slide{ border: 1px solid deeppink; margin: 25px 20px 0 0;}

.sub .slick-arrow{position: absolute; top: 80px; z-index: 10; width: 27px; height: 37px; cursor: pointer;
    display: block; background-color: transparent; text-indent: -9999px; border: none;}
.sub .slick-arrow.slick-prev{ left: -45px;  background: url(../img/button.png) no-repeat right ; }
.sub .slick-arrow.slick-next{ right: -30px; background: url(../img/button.png) no-repeat ;}
