@charset 'utf-8';

/* header 영역 */
.header {
    max-width: 1500px;  width: 90%; height: 150px;
    background-color: #fff;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 2px 5px #d1d1d1;
    transition: all 0.1s ease-in-out;
    position: absolute; top: 0; left: 50%; transform: translateX(-50%); 
    z-index: 100;
}
.header.act{height: 360px;}



/* head_inner01 영역 */
.head_inner01 {padding: 15px 50px 0; }

.head_top {border-bottom: 1px solid #d1d1d1;padding-bottom: 10px; align-items: center;}

.logo {width: 20%;}
.logo a img {width: 150px;}

.h_top_nav{width: 45%; /* border: 1px solid red; */}

.h_top_menu {width: 100%; align-items: center; padding: 0 30px;}
.h_top_menu li {}
.h_top_menu li a {font-size: 1.4rem;}
.h_top_menu li a:hover{text-decoration: underline;}

.sns{position: relative;}
.sub_sns{position: absolute; background-color: #fff; border: 1px solid #d1d1d1;padding: 10px 5px 10px;
    border-radius: 10px; top: 25px; left: -5px; z-index: 10; display: none;}
.sub_sns > li > a{width: 100%; height: 100%; text-align: center; line-height: 20px;}
.sub_sns > li > a > i{ font-size: 2.5rem;}
.sub_sns > li > a > i:hover{ color: #f79d00;}


.lang {position: relative;}
.lang a i {
    width: 1.6rem;
    vertical-align: text-bottom;
    margin-right: 5px;
}

.sub_lang {
    position: absolute;
    top: 25px;
    width: 110%;
    padding: 10px 5px 0;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    display: none;
    z-index: 10;
}
.sub_lang li {margin-bottom: 10px;}
.sub_lang li a:hover {text-decoration: underline; color: #f79d00;}

.museum_choice {position: relative;}

.sub_museum {
    position: absolute;
    top: 25px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    padding: 10px 5px;
    border-radius: 10px;
    text-align: center;
    display: none;
    z-index: 10;
}

.sub_museum li {line-height: 2;}
.sub_museum li a:hover {text-decoration: underline; color: #f79d00;}

.search a img {width: 2.5rem;}

.menu_bar i{font-size: 2.4rem;}

/* head_top END */



/* head_inner02 영역 */
.head_inner02 {padding: 0 50px 15px; height: 100%; }

.head_down {
    font-size: 1.6rem;
    align-items: center;
    margin-top: 20px;
    /* border: 1px solid red; */
}

.logo_txt {width: 20%; padding: 0 10px;}
.logo_txt h3 {
    font-size: 2.8rem;
    color: #0072ff;
    font-weight: 500;
}
.logo_txt span {font-size: 1.6rem; display: block;}


/* h_down_menu 영역 */
.h_down_nav{width: 50%;}

.h_down_menu {}
.h_down_menu > li {position: relative; width: 100%;}
.h_down_menu > li > a {font-size: 2rem; text-align: center; }
.h_down_menu.act {border-bottom: 1px solid #d1d1d1; padding: 20px 0;}
/* h_down_menu END */


/* down_sub_menu 메인-하위메뉴 */
.down_sub_menu{position: absolute; top: 30px; left: 0; width: 100%; display: none;}
.down_sub_menu li{line-height: 3; }
.down_sub_menu li a{text-align: center; width: 100%;}
.down_sub_menu li a:hover{color: #f79d00;}
/* down_sub_menu END */

/* head_down END */


/*서브메뉴 왼쪽 이미지 */
.sub_left_img{ width: 500px; height: 100px; margin-top: 120px; display: none;}
.sub_left_img img{width: 100%; opacity: 0.5;}
/* END */


/* search box 검색창 */
.search_box{background-color: #f1f1f1; width: 100%; position: absolute; top: 0; left: 0; height: 520px; background-image: url(../img/face.png);
background-size: contain; z-index: 200; display: none; }

.search_box_inner{width: 1500px; margin: 0 auto; height: 100%; padding: 50px;}

.close_btn{width: 50px;}
.close_btn > a > i{font-size: 5rem;}

.input_content{/* border: 1px solid red;  */margin: 150px auto;align-items: center;}
.input_box{width:60%;height: 100px; border-radius: 20px 0 0 20px; border: none;background-color: #fff;}
.input_box input{width: 90%; height: 80px; font-size: 2rem; padding: 30px;
display: block; margin: 10px auto; border: none;}

.input_content a{width: 10%; margin-left: 10px; font-size: 3.6rem;
background-color: #0072ff; text-align: center; height: 100px;
padding: 10px; line-height: 80px; color: #fff; border-radius: 0 20px 20px 0;}

/* search box END*/
/* -- header END -- */


/* main01 영역 */
.main01{background-color: #e6f3fe; width: 100%; height: 100%; position: relative;/* sun,,mole01 relative */
    background-image: url(../img/cloud.png); background-repeat: no-repeat; 
    background-position: center 150px;}

.main_Txt{text-align: center; padding-top: 320px;}
.main_Txt p{font-size: 3vw; margin-bottom: 10px; color: #0072ff;}
.main_Txt span{display: block; font-size: 1.7vw;}

.sun{background: url(../img/sun.png) no-repeat center center; background-size: cover; 
    width: 400px; height: 400px; position: absolute; top: 500px; left: 240px; animation: sun_move 5s infinite ;}
@keyframes sun_move {
    0%{top: 450px;}
    50%{top: 550px;}
    100%{top: 450px;}
}

.mole01{background: url(../img/mole01.png) no-repeat center center / contain;
    width: 300px; height: 400px; position: absolute; top: 480px; right: 200px; z-index: 10;}
.hill{background: url(../img/bg_hill_03.png) no-repeat center center / cover; 
    width: 100%; height: 584px;position: absolute; top: 700px; left: 0;}
    

/* 예약창 영역 */
.reservation{max-width: 1500px;  width: 90%; height: 365px;   position: absolute; z-index: 10;
    top: 95%; left: 50%; transform: translateX(-50%); overflow: hidden;}

/* 관람예약 영역*/
.view_content{font-size: 1.8rem; width: 100%; height: 100%; }
.view_content h3{position: relative; width: 280px; height: 180px;
    text-align: center; line-height: 180px; border-radius: 50px 0 0 0; background-color: #f79d00;}

    /* 예약 리스트 */
.view_box{position: absolute;top: 0; left: 280px; z-index: 20; max-width: 1500px; width: 100%; height: 365px; text-align: center;
    padding: 0 30px; align-items: center; background-color: #f79d00; border-radius: 0 50px 50px 0; }
.view_box h2{width: 200px; height: 180px; text-align: center; line-height: 1.2; font-weight: 500; padding: 30px 0;border: 1px solid blue;}
.view_box h2 span{font-size: 1.4rem; display: block; line-height: 2; width:150px; margin: 0 auto; border-top: 1px solid black; margin-top: 10px; padding: 10px 0;}
    
.view_reserve{width: 85%; border: 1px solid black;}
.view_reserve li{width: 280px; height: 280px; background-color: var(--yellow); margin: 0 10px; 
    text-align: center; padding: 25px;  line-height: 30px; border-radius: 50px;}
.view_reserve li span{}
.view_reserve li > p{font-size: 1.4rem; /* border: 1px solid red; */}

.view_reserve li > div {margin-top: 30px; width: 230px; height: 140px; border-radius: 30px;}

.viewBox_end{ line-height: 140px; background-color: var(--brown); background-image: url(../img/end_bg.png);}
.viewBox_end p{}

.viewRE_ok{padding-top: 25px; background-color: #f79d00;}
.viewRE_ok p{}
.viewRE_ok span{font-size: 1.5rem;}
.viewRE_ok a{font-size: 1.2rem;}

.education_content{}


/* 예약창 영역 END */


/* .main02 영역 */
.main02{width: 1500px; height: 365px;  border: 1px solid red;}
.main02_bg{background: url(../img/face.png) center center repeat-x;background-size: contain; width: 100%; height: 100%;}

